/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #393e46;
}

.container {
  width: 1000px;
  height: 700px;
  margin: 50px auto;
}

.align {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ------------------------------- */
.count {
  position: absolute;
  opacity: 0.5;
  font-family: "Lexend Deca", sans-serif;
  font-size: 25px;
}

.conditions {
  height: 400px;
}

.letters {
  font-size: 150px;
  font-family: "Lexend Deca", sans-serif;
  color: #00adb5;
  margin-bottom: 10px;
  margin-top: 30px;
}

.timer {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
}

/* ------------------------------- */

.inputSolution {
  height: 300px;
}

input {
  width: 400px;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #eeeeee;
  color: #222831;
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

.solutionValue {
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  color: #00adb5;
  overflow: scroll;
}

button {
  appearance: none;
  -webkit-appearance: none;
  margin-top: 100px;
  padding: 10px;
  border: none;
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 20px;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
